.button {
  font-family: inherit;
  background-color: @color-background-basic;
  color: @color-basic;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  border: none;
}

.button--change-state {
  &:hover {
    background-color: @color-button-hover;
  }

  &:active {
    background-color: @color-button-down;
    color: rgba(@color-basic, 0.3);
  }

  &:disabled {
    background-color: @color-input-hover;
    color: rgba(@color-basic, 0.3);
  }
}

.button--change-state:active .social__link {
  opacity: 0.3;
}
