.card__view {
  margin: 0;
  padding: 24px 20px;
}

.card__image {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.card__caption {
  font-size: 14px;
  line-height: 21px;
}

.card__title {
  font-weight: 700;
  text-transform: uppercase;
  color: @color-basic-second;
}

.card__author {
  margin: 0;
  padding: 0;
}
