.comment__title {
  display: block;
}

.comment__textarea {
  padding: 16px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: @color-background-second;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

