.count-likes__icon {
  background-color: transparent;
  border: none;
  fill: rgba(@color-basic-second, 0.3);
  cursor: pointer;
  padding: 0;
  margin: 0;

  &:hover:not(.count-likes__added) {
    fill: rgba(@color-basic-second, 0.6);
  }
}

.count-likes__added {
  fill: darken(#ff6347, 10%);
}

.count-likes__sum {
  padding-left: 10px;
  font-weight: 700;
  color: @color-basic-second;
}

@media (min-width: @tablet-width) {
  .count-likes__sum {
    padding-left: 5px;
  }
}

@media (min-width: @desctop-width) {
  .count-likes__icon {
    fill: @color-basic;

    &:hover:not(.count-likes__added) {
      fill: rgba(@color-basic, 0.6);
    }
  }

  .count-likes__added {
    fill: darken(#ff6347, 10%);
  }

  .count-likes__sum {
    color: @color-basic;
  }
}
