.gallery__header {
  max-width: 280px;
  text-align: center;
  margin: 0 auto 36px;
  text-transform: uppercase;
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-basic-second;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.gallery__intro {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .gallery__header {
    max-width: 445px;
    margin: 0 auto 80px;
  }

  .gallery__title {
    font-size: 30px;
    padding-top: 21px;
    margin-bottom: 33px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @desctop-width) {
  .gallery__header {
    margin: 0 auto 90px;
  }

  .gallery__title {
    padding-top: 53px;
    margin-bottom: 32px;
  }
}
