.gallery__header {
  max-width: 280px;
  text-align: center;
  margin: 0 auto 32px;
  text-transform: uppercase;
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-basic-second;
}

.gallery__intro {
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .qwerty {
    width: calc(100% / 3 * 2);
    background-color: @color-background-catalog-image;
    overflow: hidden;
    height: 100%;
  }
}
