.image-suggestion {
  margin: 0;
  padding: 0 20px;
  position: relative;
}

.image-suggestion__unit {
  display: block;
  width: 100%;
  height: auto;
}

.image-suggestion__button {
  display: block;
  position: absolute;
  background-image: url("../img/catalog/polygon.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 54px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  border: none;
  background-color: transparent;
  transition: all 0.2s linear;

  &:hover {
    scale: 1.1;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @desctop-width) {
  .image-suggestion {
    padding: 0 40px;
  }
}
