.intro {
  min-height: 389px;
  width: 100%;
  display: block;
  background: url("../img/intro-bg-desctop.jpg") no-repeat center center;
  background-position-y: 0;
  background-size: cover;
  background-color: @color-background-basic;
  position: relative;
}

.intro--inner {
  min-height: 158px;
  background-position-y: 100%;
}

.intro__background {
  box-sizing: border-box;
}

.intro__background::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 58px;
  content: "";
  background: url("../img/divider.svg") no-repeat center bottom;
  background-size: cover;
  bottom: -1px;
}

.intro__text-image {
  display: block;
  margin: auto;
  padding: 90px 0 85px;
}

.intro__text-image--inner {
  padding: 51px 0 68px;
}

@media (min-width: @tablet-width) {
  .intro__text-image {
    width: 500px;
    height: 350px;
    padding: 77px 0 90px;
  }

  .intro__text-image--inner {
    padding: 35px 0 64px;
    width: 455px;
    height: 190px;
  }
}

@media (min-width: @desctop-width) {
  .intro__text-image--inner {
    padding: 46px 0 64px;
    width: 460px;
  }
}
