.local-service {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 23px 18px 46px;
  list-style-type: none;
  background-color: @color-basic;
  color: @color-basic-second;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 100%;
    min-height: 300px;
    padding: 150px 33px 64px;
    box-sizing: border-box;
  }
}

.local-service__item {
  margin-left: auto;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin: 0;
    text-align: center;
  }
}

.local-service__title {
  margin: 0 auto 16px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  max-width: 240px;
}

.local-service__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: @color-basic-tertiary;
  min-width: 240px;
}
