.main-footer__wrapper {
  padding: 29px 20px 23px;
  margin: 0 auto;
  color: @color-basic-second;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

.main-footer__hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
