.main-container__intro {
  margin-bottom: 32px;
}

.main-container__search-hotels {
  margin-bottom: 49px;
}

.main-container__gallery {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.main-container__review {
  padding-top: 4px;

  @media (min-width: @tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: @desctop-width) {
    margin: 0 120px;
  }
}
