.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;

  @media (min-width: @tablet-width) {
    position: static;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
  }
}

.main-nav__toogle {
  background: url("../../img/icon-menu.svg") no-repeat center center;
  width: 23px;
  height: 22px;
  border: none;
  padding: 25px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__toogle:hover + .main-nav__wrapper {
  display: block;
}

@media (max-width: @tablet-width) {
  .main-nav:hover .main-nav__wrapper {
    display: block;
  }
}

.main-nav__toogle:active + .main-nav__wrapper {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }
}
