.main-container__intro {
  margin-bottom: 35px;
}

.main-container__reasons {
  margin-bottom: 38px;
}

.main-container__search-hotels {
  margin-bottom: 49px;
}

.main-container__city-map {
  margin-bottom: 11px;
}

.main-container__gallery {
  margin-bottom: 18px;
  margin-top: -11px;
}

.main-container__review {
  margin-top: -13px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .main-container__intro {
    margin-bottom: 50px;
  }

  .main-container__reasons {
    margin-bottom: 61px;
  }

  .main-container__search-hotels {
    margin-bottom: 58px;
  }

  .main-container__gallery {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -5px;
    margin-bottom: 56px;
  }

  .main-container__review {
    padding-top: 14px;
    margin: 0 40px;
  }

  .main-container__video-suggestion {
    margin: 0 40px 51px;
  }
}

@media (min-width: @desctop-width) {
  .main-container__intro {
    margin-bottom: 61px;
  }

  .main-container__reasons {
    margin-bottom: 61px;
  }

  .main-container__search-hotels {
    margin-bottom: 66px;
  }

  .main-container__gallery {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .main-container__review {
    padding-top: 65px;
    margin: 0 120px;
  }

  .main-container__video-suggestion {
    margin: 0 160px 95px;
  }
}
