.modal {
  background-color: @color-basic;
}

.modal__text {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.modal__text--alert {
  padding: 53px 42px 35px;
  max-width: 238px;
}

.modal__text--confirm {
  padding: 33px 38px 0;
  max-width: 244px;
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-basic-second;
  margin-bottom: 35px;
}

.modal__description {
  font-size: 14px;
  line-height: 21px;
}

.modal__description--alert {
  margin-bottom: 21px;
}

.modal__description--confirm {
  margin-bottom: 36px;
}

.modal__form--confirm {
  background-color: @color-background-second;
  padding: 20px;
  box-sizing: border-box;
}

.modal__button {
  padding: 18px 18px 14px;
  margin: 0 auto;
  font-weight: 700;
}

.modal__button--alert {
  width: 180px;
}

.margin__button--confirm {
  width: 280px;
}
