.page {
  height: 100%;
}

.page__body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: @color-basic-tertiary;
  background-color: @color-background-body;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page__container {
  min-width: 320px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px rgb(0 1 1 / 20%);
  min-height: 100%;
  background-color: @color-basic;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}
