.review-form__container {
  border-top: 1px solid @color-input-hover;
  padding: 24px 20px 39px;
  color: @color-basic-second;
}

.review-form__container--detailed {
  padding: 24px 20px 30px;
  margin-bottom: 19px;
}

.review-form__impression .review-form__title {
  margin-bottom: 18px;
}

.review-form__impression {
  padding: 26px 20px 20px;
}

.review-form__sights-visited .review-form__title {
  margin-bottom: 18px;
}

.review-form__sights-visited {
  padding: 26px 20px 20px;
}

.review-form__detailed {
  border: none;
  padding: 0;
  margin: 0;
}

.review-form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.review-form__data-in-wrapper {
  display: grid;
  gap: 16px;
}

.review-form__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.review-form__checkradio {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.review-form__footnote {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  padding: 0 20px;
  margin: 3px 0 0 auto;
  max-width: 185px;
}

@media (max-width: @mobile-width-only) {
  .review-form__contacts {
    padding: 26px 20px 32px;
  }
}

@media (min-width: @tablet-width) {
  .review-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review-form__container:not(.review-form__container--is-half) {
    grid-column: 1 / -1;
  }

  .review-form__container {
    border-top: none;
  }

  .review-form__container--is-half:nth-child(odd) {
    position: relative;
  }

  .review-form__container--is-half:nth-child(odd)::before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 88%;
    background-color: @color-decoration-elements;
    right: 0;
    top: 25px;
  }

  .review-form__initials .review-form__title {
    padding-left: 17px;
  }

  .review-form__contacts .review-form__title {
    margin-left: 6px;
  }

  .review-form__container--is-half:nth-child(odd) .review-form__data-in-wrapper {
    margin-right: 24px;
  }

  .review-form__container--is-half:nth-child(even) .review-form__data-in-wrapper {
    margin-left: 24px;
  }

  .review-form__group--has-border,
  .review-form--has-border {
    border-top: 2px solid @color-decoration-elements;
  }

  .review-form__impression {
    padding: 24px 20px 20px;
  }

  .review-form__checkradio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 36px;
    padding-right: 32px;
  }

  .review-form__checkradio--checkbox {
    padding-left: 84px;
    padding-right: 64px;
  }

  .review-form__title {
    padding: 0;
    font-size: 21px;
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 400px;
  }

  .review-form__group--has-border .review-form__title,
  .review-form--has-border .review-form__title {
    max-width: 325px;
    padding: 0 70px;
  }


  .review-form__impression .review-form__title {
    margin-bottom: 27px;
  }

  .review-form__sights-visited .review-form__title {
    margin-bottom: 27px;
  }

  .review-form__container--detailed {
    padding: 19px 20px 30px;
    margin-bottom: 12px;
  }

  .review-form__footnote {
    font-size: 14px;
    margin: auto 0 auto auto;
    padding-top: 7px;
  }
}

@media (min-width: @desctop-width) {
  .review-form__container--is-half {
    padding: 24px 0 39px;
  }

  .review-form__initials .review-form__title {
    padding-left: 12px;
  }

  .review-form__contacts .review-form__title {
    margin-left: auto;
    padding-left: 12px;
  }

  .review-form__title {
    margin: 0 auto 26px;
  }

  .review-form__container--is-half:nth-child(odd) .review-form__data-in-wrapper {
    margin-right: 50px;
  }

  .review-form__container--is-half:nth-child(even) .review-form__data-in-wrapper {
    margin-left: 78px;
  }

  .review-form__container--is-half:nth-child(odd)::before {
    right: -14px;
  }

  .review-form__impression {
    padding: 33px 0 20px;
  }

  .review-form__checkradio {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    padding-right: 0;
    margin: 0 28px;
  }

  .review-form__item {
    display: flex;
    justify-content: center;
  }

  .review-form__impression .review-form__group {
    margin-bottom: 25px;
  }

  .review-form__impression .review-form__title {
    margin-bottom: 44px;
  }

  .review-form__sights-visited {
    padding: 26px 0 20px;
  }

  .review-form__sights-visited .review-form__title {
    margin-bottom: 58px;
  }

  .review-form__sights-visited .review-form__group {
    margin-bottom: 45px;
  }

  .review-form__checkradio--checkbox {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
  }

  .review-form__container--detailed {
    padding: 19px 0 30px;
    margin-bottom: 11px;
  }

  .review-form__footnote {
    margin-right: 76px;
  }
}
