.review__header {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.review__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  color: @color-basic-second;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review__intro {
  font-size: 14px;
  line-height: 21px;
}

.review__button {
  font-weight: 700;
  padding: 16px;
  width: 284px;
  margin: auto;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}
