.search-hotel {
  text-align: center;
  text-transform: uppercase;
  padding: 0 18px;
}

.search-hotel__title {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-basic-second;
  margin-bottom: 20px;
}

.search-hotel__suggestion {
  font-size: 14px;
  line-height: 21px;
  color: @color-basic-tertiary;
  margin: 0 auto 35px;
  padding: 0;
}

.search-hotel__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 16px;
  width: 284px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .search-hotel__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .search-hotel__suggestion {
    max-width: 400px;
    margin: 0 auto 46px;
  }

  .search-hotel__link {
    width: 458px;
  }
}

@media (min-width: @desctop-width) {
  .search-hotel__suggestion {
    margin: 0 auto 48px;
  }
}
