.sights {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sights__item {
  border-top: 1px solid @color-input-hover;
}

.sights__item:last-of-type {
  border-bottom: 1px solid @color-input-hover;
}
