.video-suggestion__text {
  max-width: 266px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.video-suggestion__title {
  display: block;
  color: @color-basic-second;
  margin-bottom: 27px;
}

.video-suggestion__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .video-suggestion__text {
    font-size: 30px;
    max-width: 460px;
  }

  .video-suggestion__title {
    margin-bottom: 27px;
  }
}

@media (min-width: @desctop-width) {
  .video-suggestion__text {
    margin-bottom: 87px;
  }

  .video-suggestion__title {
    margin-bottom: 32px;
  }
}
