/*color*/
@color-basic: #ffffff;
@color-basic-second: #000000;
@color-basic-tertiary: #333333;
@color-background-basic: #81b3d2;
@color-background-second: #f2f2f2;
@color-background-tertiary: #eeeeee;
@color-background-catalog-image: #dc6243;
@color-background-alternate: #eaeaea;
@color-border-bottom: #d6d6d6;
@color-button-hover: #669ec0;
@color-button-down: #5496bd;
@color-input-hover: #e5e5e5;
@color-input-down: #d5d5d5;
@color-link-current: #766357;
@color-decoration-elements: #dbdbdb;
@color-background-body: #e7e5e5;
@color-logo-active: #b3b3b3;
@color-input-error: #ff6347;


/*device-width*/
@mobile-width-only: 767.9px;
@tablet-width: 768px;
@desctop-width: 1200px;
